---
import Layout from "../layouts/Layout.astro";
import coffee from "../data/coffee.json";

// Build a count per country
const countryCounts = {};
for (const c of coffee) {
	const country = c?.Location?.Country;
	if (!country) continue;
	countryCounts[country] = (countryCounts[country] ?? 0) + 1;
}

// Unique countries, sorted
const countries = Object.keys(countryCounts).sort((a, b) => a.localeCompare(b));
---

<Layout title="Coffee by Country">
	<h1>Browse Coffees by Country</h1>

	<ul class="country-list">
		{
			countries.map((country) => (
				<li>
					<a href={`/countries/${encodeURIComponent(country)}`}>
						{country}{" "}
						<span class="count">
							({countryCounts[country]} coffees)
						</span>
					</a>
				</li>
			))
		}
	</ul>
</Layout>

<style>
	.country-list {
		columns: 18rem;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.country-list li {
		margin-bottom: 0.55rem;
	}

	.count {
		color: #444;
	}
</style>
