---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Coffee Ratings Dataset">
	<h1>Homepage</h1>

	<p>
		Welcome! This website explores a coffee ratings dataset from
		<a href="...">here</a>.
	</p>

	<p>
		You can browse coffees by country and view details like region, year,
		owner, species, and total score.
	</p>

	<p>
		The USA data is password-protected for demonstration purposes. The
		correct password is <code>myPassword</code>.
	</p>

	<h2>JSON Dataset fields</h2>

	<dl class="fields">
		<div>
			<dt>Year</dt>
			<dd>Production year.</dd>
		</div>

		<div>
			<dt>Location.Country</dt>
			<dd>Country where the coffee was produced.</dd>
		</div>

		<div>
			<dt>Location.Region</dt>
			<dd>A more specific region within the country.</dd>
		</div>

		<div>
			<dt>Data.Owner</dt>
			<dd>The producer/owner associated with the coffee.</dd>
		</div>

		<div>
			<dt>Data.Type.Species</dt>
			<dd>The coffee species (e.g., Arabica).</dd>
		</div>

		<div>
			<dt>Data.Scores.Total</dt>
			<dd>The total quality score for the coffee.</dd>
		</div>

		<p>
			The Total Score is computed as the sum of these components (10 pts
			each; 90 pts total):
			Aroma+Flavor+Aftertaste+Acidity+Body+Balance+Uniformity+Sweetness+Moisture
		</p>
	</dl>
</Layout>

<style>
	.fields {
		margin: 1rem 0 0 0;
		display: grid;
		gap: 0.75rem;
	}

	.fields > div {
		display: grid;
		grid-template-columns: 180px 1fr;
		gap: 1rem;
	}

	dt {
		font-weight: bold;
	}
	dd {
		margin: 0;
	}
</style>
